body {
    font-family: 'Poppins', sans-serif;
}

.container {
    background: url("images/top-banner.png");
    background-repeat: no-repeat !important;
    height: 500px;
}

.div-1 {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.div-1 h1 {
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: -5px;
    font-size: 32px;
}

.div-1 h2 {
    font-size: 40px;
    margin-left: 10px;
}

.div-1 #last-h1 {
    margin-top: 10px;
    font-size: 32px;
}

.div-1 h3 {
    margin-left: 10px;
    font-weight: 500;
}

.div-1 p {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    color: dimgray;
}

.div-1 img {
    width: 100%;
}

.name_highlight {
    color: orange;
}

.link_btn {
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 8px 16px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
}

/* Last Section CSS */

.last_section {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat !important;
    background-position: right;
    height: 500px;
}

/* Expriance Section Css */

.expriance_section{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat !important;
    background-position: left;
    height: 500px;}

.expriance_section h1 {
    font-size: 40px;
    margin-left: 5%;
}

.expriance_div_1 {
    width: 40%;
    margin-left: 5%;
    float: left;
    padding-left: 20px;
    
}

.expriance_div_1 h3 {
    font-weight: 500;
}

.expriance_div_1 p {
    color: dimgray;
    font-size: 16px;
}

.single_expriance {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 240px;
}

#full_stack {
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
    }

#baby_step{border-left: 7px solid;
    border-image:linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
